# Dependencias
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Archivos de entorno
#.env
#.env.local
#.env.*.local

# Logs
logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests y docs
coverage
*.md
